
header {

     color: whitesmoke;
     background-color: black;
     width: 100%;
     height: 1015px;
     padding: 0px;
     margin: 0px;
     position: relative;

}











.navbar0 {

     background-color: black;
     overflow: hidden;

}

.navbar0 a {

     float: left;
     color: whitesmoke;
     font-family: 'Inconsolata', monospace;
     text-decoration: none;
     padding: 20px;
     text-align: center;    

}

.navbar0 a:hover {

  background-color: whitesmoke;
  color: black;

}

ul {

  list-style-type: none;
  margin: 0;
  padding: 0;

}











body {

     background-color: black;
     padding: 0px;
     margin: 0px;

}


h1 {

     color: whitesmoke;
     font-family: 'Bebas Neue', cursive;
     font-size: 270px; 
     position: absolute;  
     padding: 120px;  

}
h2 {

     color: black;
     font-family: 'Bebas Neue', cursive;
     font-size: 30px; 
     position: relative;    

}

.base0 {

     background-color: whitesmoke;
     width: 1895px;
     height: 1000px;
     position: absolute;

}











h5 {

     color: black;
     font-family: 'Inconsolata', monospace;
     position: relative;

}

#logo {

     position: absolute;
     max-height: 1000px;

}











.navbar1 {

     background-color: black;
     overflow: hidden;

}

.navbar1 a {

     float: left;
     color: whitesmoke;
     font-family: 'Inconsolata', monospace;
     text-decoration: none;
     padding: 20px;
     text-align: center;    

}

.navbar1 a:hover {

  background-color: whitesmoke;
  color: black;

}

